@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --hue-a:400px;
    --hue-h1:700px
}
*{
  box-sizing: border-box;
}
.body {
  margin: 0;
  height: 100%;
  background-color: #212529;
  color: #ffffff;
  display: flex;
  text-align: center;
  text-shadow: 0 0.05 0.1 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5 rgba(0, 0, 0, 0.5);
  font-weight: 400px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  display: flex;
  max-width: 650px;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
  text-align: center;
  color: #ffffff;
}


nav ul li a{
  color: #fff;
  font-family: 'Roboto';
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  text-decoration: none;
  transition: border-color .3s, boder-bottom .3s, color .3s;
  padding: 4px 0px;
} 
nav ul li a.home{
  border-bottom: 3px solid #fff;
}
nav ul li a.features, nav ul li a.contact{
  color: hsl(0, 0%, 70%);
  margin-left: 16px;
}
nav ul li{
  display: inline;
  margin: 0px;
}
nav ul{
  list-style: none;
  margin: 0px;

}
nav h3{
  color: #fff;
  font-size: 27px;
  font-weight: 500;
  font-family: 'Roboto';
  margin: -20px;
  padding: 15px;
}
nav{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: auto;
  font-family: 'Roboto', sans-serif;
}
nav ul li a.features:hover, nav ul li a.contact:hover{
  border-bottom: 3px solid hsl(0, 0%, 70%);
}
nav ul li a.home:hover{
  border-color: hsl(0, 0%, 70%);
}

main{
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    padding-top: 100px;
}
.p{
  margin-top: 0px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  padding: 40px;
}
main p a{
  text-decoration: none;
  color: rgb(51, 51, 51);
  background-color: #fff;
  font-weight: 700;
  font-family: 'Roboto';
  line-height: 1.5px;
  cursor: pointer;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4.8px;
  border: 1px solid #fff;
}
footer p a{
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
}
footer p{
  color: rgba(255, 255, 255, .5);
  font-family: 'Roboto';
  font-weight: 300;
}
footer{
  /* margin-top: 228.5px; */
  text-align: center;
  margin-top: 50px;
}
@media(max-width:700px){
  footer{
    margin-top: 20px;
  }
}