*{
    box-sizing: border-box;
}
.body{
    background-color: #212529;
    color: #ffffff;
    display: flex;
    text-align: center;
    text-shadow: 0 0.05 0.1 rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5 rgba(0, 0, 0, .5);
}
.container{
    max-width: 42em;
}
nav{
    list-style-type: none;
    float: right;
}
.a{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #ffffff;

}